.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

 
  &.icon-hamburger {
    width: 30px;
    height: 30px;
    background-image: url("~assets/icons/hamburger.svg");
  }
  
  &.icon-plus {
    width: 18px;
    height: 18px;
    background-image: url("~assets/icons/plus.svg");
  }
 
  &.icon-dashboard {
    width: 25px;
    height: 25px;
    background-image: url("~assets/icons/dashboard.svg");
  }
  &.icon-setting {
    width: 25px;
    height: 25px;
    background-image: url("~assets/icons/setting.svg");
  }
  &.icon-vow {
    width: 25px;
    height: 25px;
    background-image: url("~assets/icons/vow.svg");
  }
  &.icon-money-recive {
  width: 25px;
  height: 25px;
  background-image: url("~assets/icons/money-recive.svg");
}
&.icon-money-send {
  width: 25px;
  height: 25px;
  background-image: url("~assets/icons/money-send.svg");
}
&.icon-users {
  width: 25px;
  height: 25px;
  background-image: url("~assets/icons/users.svg");
}
}
